@font-face { 
    font-family:"Material Design Icons";
    src:url("https://themewagon.github.io/corona-free-dark-bootstrap-admin-template/assets/vendors/mdi/fonts/materialdesignicons-webfont.eot?v=3.9.97");
    src:url("https://themewagon.github.io/corona-free-dark-bootstrap-admin-template/assets/vendors/mdi/fonts/materialdesignicons-webfont.eot?#iefix&v=3.9.97") format("embedded-opentype"),url("https://themewagon.github.io/corona-free-dark-bootstrap-admin-template/assets/vendors/mdi/fonts/materialdesignicons-webfont.woff2?v=3.9.97") format("woff2"),url("https://themewagon.github.io/corona-free-dark-bootstrap-admin-template/assets/vendors/mdi/fonts/materialdesignicons-webfont.woff?v=3.9.97") format("woff"),url("https://themewagon.github.io/corona-free-dark-bootstrap-admin-template/assets/vendors/mdi/fonts/materialdesignicons-webfont.ttf?v=3.9.97") format("truetype");
    font-weight:normal;
    font-style:normal;
  } 
  @import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
  * { 
      box-sizing: border-box;
  } 
  
  div { 
      text-shadow:  none;
      -webkit-box-shadow: none; 
      -moz-box-shadow: none; 
      box-shadow: none;
  } 
  
  .row { 
      display: flex; 
      flex-wrap: wrap; 
      margin-right: -0.75rem; 
      margin-left: -0.75rem;
  } 
  
  .w-100 { 
      width: 100% !important;
  } 
  
  .m-0 { 
      margin: 0 !important;
  } 
  
  .container-fluid { 
      width: 100%; 
      padding-right: 0.75rem; 
      padding-left: 0.75rem; 
      margin-right: auto; 
      margin-left: auto;
  } 
  
  .page-body-wrapper { 
      min-height: 100vh; 
      display: -webkit-flex; 
      display: flex; 
      -webkit-flex-direction: row; 
      flex-direction: row; 
      padding-left: 0; 
      padding-right: 0; 
      transition: all 0.25s ease; 
      width: calc(100% - 244px);
  } 
  
  .page-body-wrapper.full-page-wrapper { 
      width: 100%; 
      min-height: 100vh;
  } 
  
  .container-scroller { 
      display: flex; 
      overflow:  hidden;
      position: relative;
  } 
  
  body { 
      margin:     0; 
      font-family:   "Rubik", sans-serif; 
      font-size:   1rem; 
      font-weight:   initial; 
      line-height:   1.5; 
      color:     #ffffff; 
      text-align:     left; 
      background-color:  #191c24;
      padding:    0; 
      overflow-x:  hidden; 
      -webkit-box-shadow:   none; 
      -moz-box-shadow:   none; 
      box-shadow:   none;
      -webkit-font-smoothing:  antialiased;
      padding-right: 0 !important; 
  } 
  
  html { 
      font-family:  sans-serif; 
      line-height:  1.15; 
      -webkit-text-size-adjust:  100%; 
      -webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
      overflow-x: hidden; 
      padding-right: 0 !important; 
      background-color: #191c24;
  } 
  
  .d-flex { 
      display: flex !important;
  } 
  
  .align-items-center { 
      align-items: center !important;
  } 
  
  .content-wrapper { 
      background: #000000; 
      padding: 1.875rem 1.75rem; 
      width: 100%; 
      -webkit-flex-grow: 1; 
      flex-grow: 1;
  } 
  
  .auth.login-bg { 
      background: url("https://themewagon.github.io/corona-free-dark-bootstrap-admin-template/assets/images/auth/Login_bg.jpg"); 
      background-size: cover;
  } 
  
  *,:before,:after { 
      box-sizing: border-box;
  } 
  
   body { 
  :  
      margin:  0; 
      font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
      font-size:  1rem; 
      font-weight:  400; 
      line-height:  1.5; 
      color:  #ffffff; 
      text-align:  left; 
      background-color:  #fff;
      padding: 0; 
      overflow-x: hidden;
  } 
  
  .col-lg-4 { 
      position: relative; 
      width: 100%; 
      padding-right: 0.75rem; 
      padding-left: 0.75rem;
  } 
  
  @media (min-width: 992px){ 
    .col-lg-4 { 
      flex: 0 0 33.33333%; 
      max-width: 33.33333%;
    } 
  }     
  
  .card { 
      position: relative; 
      display: flex; 
      flex-direction: column; 
      min-width: 0; 
      word-wrap: break-word; 
      background-color: #191c24; 
      background-clip: border-box; 
      border: 1px solid rgba(0, 0, 0, 0.125); 
      border-radius: 0.25rem;
  } 
  
  .mx-auto { 
      margin-right:  auto !important;
      margin-left: auto !important;
  } 
  
  .card { 
      border-radius: 0.25rem;
  } 
  
  .card-body { 
      flex: 1 1 auto; 
      min-height: 1px; 
      padding: 1.25rem;
  } 
  
  .py-5 { 
      padding-top: 3rem !important;
  } 
  
  .px-5 { 
      padding-right: 3rem !important;
  } 
  
  .py-5 { 
      padding-bottom: 3rem !important;
  } 
  
  .px-5 { 
      padding-left: 3rem !important;
  } 
  
  .card .card-body  { 
      padding: 1.75rem 1.5625rem;
  } 
  
  h3 { 
      margin-top:      0; 
      margin-bottom:      0.5rem; 
      font-weight:   500;
      line-height:     1.2;
      font-size:  1.5rem;
      text-shadow:   none;
  } 
  
  .card-title { 
      margin-bottom: 0.75rem;
  } 
  
  .mb-3 { 
      margin-bottom: 1rem !important;
  } 
  
  .text-left { 
      text-align: left !important;
  } 
  
  .card .card-title  { 
      color: #ffffff; 
      margin-bottom: 1.125rem; 
      text-transform: capitalize;
  } 
  
  .form-group { 
      margin-bottom: 1rem;
  } 
  
  .justify-content-between { 
      justify-content: space-between !important;
  } 
  
  .text-center { 
      text-align: center !important;
  } 
  
  p { 
      margin-top:   0; 
      margin-bottom:   1rem;
      text-shadow:  none;
      font-size: 0.875rem;
  } 
  
  .auth .sign-up  { 
      font-size: 0.875rem; 
      text-align: center; 
      margin-top: 30px; 
      margin-bottom: 0;
  } 
  
  .auth .terms  { 
      font-size: 0.875rem; 
      text-align: center; 
      margin-top: 23px; 
      margin-bottom: 0;
  } 
  
  label { 
      display: inline-block; 
      margin-bottom: 0.5rem;
  } 
  
  .form-group label  { 
      font-size: 0.875rem; 
      line-height: 1; 
      vertical-align: top;
  } 
  
  input { 
      margin:    0; 
      font-family:    inherit; 
      font-size:    inherit; 
      line-height:    inherit;
      overflow:   visible;
      outline:  none; 
      outline-width:  0; 
      outline-color:  transparent; 
      box-shadow:  none;
      outline-style:  none;
      -webkit-box-shadow: none; 
      -moz-box-shadow: none; 
  } 
  
  .form-control { 
      display:    block; 
      width:    100%; 
      height:  calc(2.25rem + 2px); 
      padding:  0.625rem 0.6875rem; 
      font-size:  0.875rem; 
      font-weight:  normal; 
      line-height:    1; 
      color:  #ffffff;
      background-color:  #2A3038; 
      background-clip:    padding-box; 
      border:  1px solid #2c2e33; 
      border-radius:  2px; 
      transition:    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -webkit-box-shadow:   none; 
      -moz-box-shadow:   none;
      box-shadow:  none;
  } 
  
  .form-check { 
      display:   block; 
      position:   relative; 
      padding-left:  1.25rem;
      margin-top:  15px; 
      margin-bottom:  10px; 
      min-height: 18px; 
  } 
  
  a { 
      color:  #007bff; 
      text-decoration:  none; 
      background-color:  transparent;
      text-shadow: none;
  } 
  
  a,a:visited { 
      -webkit-box-shadow: none; 
      -moz-box-shadow: none; 
      box-shadow: none;
  } 
  
  .auth .forgot-pass  { 
      font-size: 0.875rem; 
      text-align: right;
  } 
  
  a:hover { 
      color: #0056b3; 
      text-decoration: underline;
  } 
  
  a,a:active,a:hover,a:visited { 
      -webkit-box-shadow: none; 
      -moz-box-shadow: none; 
      box-shadow: none;
  } 
  
  button { 
      border-radius:     0;
      margin:    0; 
      font-family:    inherit; 
      font-size:    inherit; 
      line-height:    inherit;
      overflow:   visible;
      text-transform:  none;
      outline: 0; 
      outline-offset: 0;
  } 
  
  button,[type="submit"] { 
      -webkit-appearance: button;
  } 
  
  .btn { 
      display: inline-block; 
      font-weight: 400; 
      color: #ffffff; 
      text-align: center; 
      vertical-align: middle; 
      user-select: none; 
      background-color: transparent; 
      border: 1px solid transparent; 
      padding: 0.375rem 0.75rem; 
      font-size: 0.9375rem; 
      line-height: 1; 
      border-radius: 0.1875rem; 
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  } 
  
  .btn-primary { 
      color: #fff; 
      background-color: #0090e7; 
      border-color: #0090e7;
  } 
  
  .btn-block { 
      display: block; 
      width: 100%;
  } 
  
  .btn,button { 
      -webkit-box-shadow: none; 
      -moz-box-shadow: none; 
      box-shadow: none;
  } 
  
  .btn { 
      font-size: 0.9375rem; 
      line-height: 1; 
      font-weight: normal;
  } 
  
  .auth button  { 
      font-size: 0.875rem;
  } 
  
  button:not(:disabled),[type="submit"]:not(:disabled) { 
      cursor: pointer;
  } 
  
  .auth button.enter-btn  { 
      height: 45px; 
      margin-bottom: 28px;
  } 
  
  .btn:not(:disabled):not(.disabled) { 
      cursor: pointer;
  } 
  
  .btn-primary:not(.btn-light):not(.btn-secondary) { 
      color: #ffffff;
  } 
  
  button,button:active,button:hover { 
      outline: 0; 
      outline-offset: 0;
  } 
  
  .btn:hover { 
      color: #ffffff; 
      text-decoration: none;
  } 
  
  .btn-primary:hover { 
      color: #fff; 
      background-color: #0078c1; 
      border-color: #0070b4;
  } 
  
  .btn,.btn:active,.btn:hover,button,button:active,button:hover { 
      -webkit-box-shadow: none; 
      -moz-box-shadow: none; 
      box-shadow: none;
  } 
  
  .btn-primary:not(.btn-light):not(.btn-secondary):hover,.btn-primary:not(.btn-light):not(.btn-secondary):active { 
      color: #ffffff;
  } 
  
  button { 
      -webkit-appearance: button;
  } 
  
  .col { 
      position:  relative; 
      width:  100%; 
      padding-right:  0.75rem; 
      padding-left:  0.75rem;
      flex-basis: 0; 
      flex-grow: 1; 
      max-width: 100%;
  } 
  
  .mr-2 { 
      margin-right: 0.5rem !important;
  } 
  
  .btn-facebook { 
      background: #3b579d; 
      color: #ffffff;
  } 
  
  button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .btn-facebook:hover { 
      background: #2d4278; 
      color: #ffffff;
  } 
  
  .btn-google { 
      background: #dc4a38; 
      color: #ffffff;
  } 
  
  .btn-google:hover { 
      background: #bf3322; 
      color: #ffffff;
  } 
  
  .auth .sign-up a  { 
      color: #0090e7;
  } 
  
  .auth .terms a  { 
      text-decoration: underline;
  } 
  
  .form-check-label { 
      margin-bottom: 0;
  } 
  
  .form-check .form-check-label  { 
      display: block; 
      padding-left: 0.625rem; 
      font-size: 0.875rem; 
      line-height: 1.5; 
      color: #6c7293;
  } 
  
  .btn i  { 
      margin-right: .3125rem;
  } 
  
  .mdi:before,.mdi-set { 
      display: inline-block; 
      font: normal normal normal 24px/1 "Material Design Icons"; 
      font-size: inherit; 
      text-rendering: auto; 
      line-height: inherit; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  .mdi-facebook:before { 
      content: "\F20C";
  } 
  
  .mdi-google-plus:before { 
      content: "\F2BD";
  } 
  
  .form-check-input { 
      position: absolute; 
      margin-top: 0.3rem; 
      margin-left: -1.25rem;
  } 
  
  input[type="checkbox"] { 
      box-sizing: border-box; 
      padding: 0;
  } 
  
  .form-check .form-check-label input  { 
      position: absolute; 
      top: 0; 
      left: 0; 
      margin-left: 0; 
      margin-top: 0; 
      z-index: 1; 
      cursor: pointer; 
      opacity: 0; 
      filter: alpha(opacity=0);
  } 
  
  .form-check .form-check-label input[type="checkbox"] + .input-helper:before ,.form-check .form-check-label input[type="checkbox"] + .input-helper:after  { 
      position: absolute; 
      top: 0; 
      left: 0;
  } 
  
  .form-check .form-check-label input[type="checkbox"] + .input-helper:before  { 
      content: ""; 
      width: 16px; 
      height: 16px; 
      border-radius: 2px; 
      border: solid #0090e7; 
      border-width: 2px; 
      -webkit-transition: all; 
      -moz-transition: all; 
      -ms-transition: all; 
      -o-transition: all; 
      transition: all; 
      transition-duration: 250ms; 
      -webkit-transition-duration: 250ms; 
      position: absolute; 
      top: 2px; 
      left: 0;
  } 
  
  .form-check .form-check-label input[type="checkbox"]:checked + .input-helper:before  { 
      background: #0090e7; 
      border-width: 0;
  } 
  
  .form-check .form-check-label input[type="checkbox"] + .input-helper:after  { 
      -webkit-transition: all; 
      -moz-transition: all; 
      -ms-transition: all; 
      -o-transition: all; 
      transition: all; 
      transition-duration: 250ms; 
      -webkit-transition-duration: 250ms; 
      font-family: Material Design Icons; 
      opacity: 0; 
      filter: alpha(opacity=0); 
      -webkit-transform: scale(0); 
      -ms-transform: scale(0); 
      -o-transform: scale(0); 
      transform: scale(0); 
      content: '\F12C'; 
      font-size: 0.875rem; 
      font-weight: bold; 
      color: #ffffff; 
      top: 1px;
  } 
  
  .form-check .form-check-label input[type="checkbox"]:checked + .input-helper:after  { 
      width: 18px; 
      opacity: 1; 
      line-height: 18px; 
      filter: alpha(opacity=100); 
      -webkit-transform: scale(1); 
      -ms-transform: scale(1); 
      -o-transform: scale(1); 
      transform: scale(1); 
      color: black;
  } 
  
  
  